*{
	font-family: "微软雅黑";
}
.z_mycontent{
	font-size: 15px;
}
.z_mysubmit{
	color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    width: 40%;
    margin-left: 20%;
    height: 35px;
    margin-top: 30px;
}
.z_mylink{
	width: 50%;
	margin: 0 auto;
	margin-top: 40px;
}
s{
	margin-top: 10px;
}
.error{
	font-size: 15px;
	display: none;
	background: url(../img/error.png) no-repeat;
	padding-left: 18px;
}
.right{
	font-size: 15px;
	display: none;
	background: url(../img/correct.png) no-repeat;
	padding-left: 18px;
	margin-left: 10px;
}
p{
	margin-top: 5px;
}
.z_name{
	width: 20%;
	padding-top: 10px;
	float: left;
	font-weight: bold;
}
.auth{
	width: 40%;
	height: 30px;
	margin-top: 10px;
	/*border-radius: 5px;*/
}
.txtVerification{
	width: 20%;
}
.picture{
	margin-top: 50px;
}
.all4{
	margin-top: 20px;
	margin-left: 260px;
	background: aliceblue;
	width: 600px;
	height: 300px;
	border-radius: 15px;
	padding: 50px 0px 0px 80px;
}
.yejiao,.container-fluid{
	margin-top: 30px !important;
}
