<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.RewardInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hr.entity.RewardInfo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="reason" property="reason" />
        <result column="explain" property="explain" />
        <result column="carete_time" property="careteTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, reason, explain, carete_time AS careteTime
    </sql>

</mapper>
