<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.SalaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hr.entity.Salary">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="basic" property="basic" />
        <result column="eat" property="eat" />
        <result column="house" property="house" />
        <result column="grant_time" property="grantTime" />
        <result column="scot" property="scot" />
        <result column="duty" property="duty" />
        <result column="punishment" property="punishment" />
        <result column="other" property="other" />
        <result column="total_salary" property="totalSalary" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, basic, eat, house, grant_time AS grantTime, scot, duty, punishment, other, total_salary AS totalSalary
    </sql>

</mapper>
