<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.TrainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hr.entity.Train">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="prupose" property="prupose" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="datum" property="datum" />
        <result column="teacher" property="teacher" />
        <result column="student" property="student" />
        <result column="create_time" property="createTime" />
        <result column="educate" property="educate" />
        <result column="effect" property="effect" />
        <result column="summarize" property="summarize" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, prupose, begin_time AS beginTime, end_time AS endTime, datum, teacher, student, create_time AS createTime, educate, effect, summarize
    </sql>

</mapper>
